name: Build macOS App

on:
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest

    steps:
      - name: Download code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install libraries
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller firebase-admin reportlab

      - name: Build Mac app
        run: |
          pyinstaller --onefile --windowed \
            --add-data "firebase_key.json:." \
            Inventory_system.py

      - name: Save macOS app
        uses: actions/upload-artifact@v4
        with:
          name: macOS-App
          path: dist/*.app
